<!-- <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300"> -->
<body >


    <app-nav-menu></app-nav-menu>
    <div class="icon-bar">
        <a href="https://www.facebook.com/" target="_blank" class="facebook py-2 px-2"><fa-icon [icon]="['fab','facebook-f']"></fa-icon></a>
        <a href="https://twitter.com/" target="_blank" class="twitter py-2 px-2"><fa-icon [icon]="['fab','twitter']"></fa-icon></a>
        <a href="https://www.linkedin.com/" target="_blank" class="linkedin py-2 px-2"><fa-icon [icon]="['fab','linkedin-in']"></fa-icon></a>
        <a href="https://www.instagram.com/" target="_blank" class="instagram py-2 px-2"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
        <a href="https://www.youtube.com/" target="_blank" class="youtube py-2 px-2"><fa-icon [icon]="['fab','youtube']"></fa-icon></a>
      </div>
    <div class="">
      <router-outlet></router-outlet>
    </div>
<app-footer></app-footer>
</body>
<!-- </body> -->
