<header>
  <nav id class='navbar fixed-top navbar-expand-lg navbar-toggleable-lg navbar-inverse border-bottom box-shadow mb-3'>
    <div class="container">

      <a class="navbar-brand" [routerLink]='["/"]'>
        <img src="assets/images/Isologo_w.png" height="40px" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <fa-icon [icon]="['fas','bars']" class="text-white"></fa-icon>
      </button>
      <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link  text-white" [routerLink]='["/"]'>QUIENES SOMOS</a>

          </li>
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]'
            [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link  dropdown-toogle text-right text-white" [routerLink]='["/"]' id="navbarDropdown"
              role="button" aria-haspopup="true" aria-expanded="false">FORMACIÓN
              EMPRESARIAL <fa-icon [icon]="['fas','angle-down']"></fa-icon></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Detección de Necesidades de Formación</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Plan de formación</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Talleres, seminarios, charlas</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Programas de Formación Empresarial</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Cursos especializados</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>E-learnig</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Detección de Necesidades de Capacitación</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Capacitación</a>
            </div>
          </li>
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]'
            [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link  dropdown-toogle text-right text-white" [routerLink]='["/"]' id="navbarDropdown"
              role="button" aria-haspopup="true" aria-expanded="false">INNOVACIÓN
              EMPRESARIAL <fa-icon [icon]="['fas','angle-down']"></fa-icon></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Modelo de negocios</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Formación</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Asesoría</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Consultoría</a>
              <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Mentorias</a>
            </div>
          </li>
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]'
          [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link  dropdown-toogle text-right text-white" [routerLink]='["/"]' id="navbarDropdown"
            role="button" aria-haspopup="true" aria-expanded="false">CONSULTORÍA Y ASESORÍA <fa-icon [icon]="['fas','angle-down']"></fa-icon></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Modelo de negocios</a>
            <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Formación</a>
            <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Asesoría</a>
            <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Consultoría</a>
            <a class="dropdown-item text-right text-xl-left text-secondary" [routerLink]='["/counter"]'>Mentorias</a>
          </div>
        </li>
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]'>
            <a class="nav-link  text-white" [routerLink]='["/fetch-data"]'>CO-WORKING</a>
          </li>
          <li class="nav-item different dropdown ml-auto" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-white nav-contact" [routerLink]='["/fetch-data"]'>CONTÁCTENOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script type="text/javascript">
  $(document).ready(function() {
      var navBar = $('#myNavbar');
      $('.navbar-toggle').click(function(e) {
          if (!navBar.is(':visible')) {
              // #myNavbar is about to be shown, add extra class to parent <nav>
              navBar.parents('nav').addClass('affix-visible-navbar');
          } else {
              // #myNavbar is about to be hidden, remove extra class from parent <nav>
              navBar.parents('nav').removeClass('affix-visible-navbar');
          }
      });
  });
</script>
