<div class="responsive-height">

  <video class="" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>

</div>

<div class="overlay-desc flex-column justify-content-center my-auto  px-4">
  <h1 class="text-white no-wrap h1 text-right ">Somos tu solución estratégica</h1>
  <h2 class="text-white text-right "> en emprendimiento e innovación</h2>

</div>

<section class="site-section my-5" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto mb-5 order-md-2" data-aos="fade">
        <img src="assets/images/about_1.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-lg-6 order-md-1" data-aos="fade">
        <h2 class="section-title mb-5 line-ideem">Bienvenido a IDEEM</h2>
        <p class="lead">Harum quaerat nostrum voluptatibus aspernatur eligendi accusantium cum, impedit blanditiis
          voluptate commodi doloribus, nemo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio necessitatibus deserunt itaque dignissimos
          adipisci, tenetur.</p>
        <p class="mb-4">Ipsum dolorum ab magnam facere alias ducimus nulla consequuntur blanditiis, maxime explicabo
          rerum maiores, odio.</p>
        <p><img src="assets/images/signature.jpg" alt="Image" class="img-fluid w-25"></p>
      </div>
    </div>
  </div>
</section>

<div class="panel-frases text-center text-white bg-dark-color d-flex">
  <div class="container my-auto">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, veritatis? Odio,
            aperiam mollitia corrupti eius error eligendi quo repudiandae nesciunt similique non, suscipit harum
            sapiente modi assumenda? Est, numquam illum?</p>
        </div>
        <div class="carousel-item">
          <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit ipsum obcaecati iusto
            deserunt aspernatur pariatur officia cum sed, placeat fugiat alias maxime distinctio enim cupiditate totam
            esse maiores repudiandae est.</p>
        </div>
        <div class="carousel-item">
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, veniam. Officia architecto
            praesentium non! Quidem corporis, praesentium tenetur doloremque saepe voluptatum optio, ad vero reiciendis,
            et veritatis labore dolores! Rem!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="site-section py-5" id="courses-section">
  <div class="color">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 ">
          <h2 class="section-title mb-3 line-ideem text-white">Cursos en Línea</h2>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
          <div class="card border-0 h-100">
            <img src="assets/images/img_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Negocios</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer  bg-transparent border-0">
              <div class="d-flex  flex-row">
                <div class="w-100">
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                </div>
                <div class="text-primary justify-content-end" itemprop="offers" itemscope="">
                  <p>
                    $30.00</p>
                  <meta itemprop="priceCurrency" content="$">
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card border-0 h-100">
            <img src="assets/images/img_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Emprendimiento</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer  bg-transparent border-0">
              <div class="d-flex  flex-row">
                <div class="w-100">
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                </div>
                <div class="text-primary justify-content-end" itemprop="offers" itemscope="">
                  <p>
                    $13.00</p>
                  <meta itemprop="priceCurrency" content="$">
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card border-0 h-100">
            <img src="assets/images/img_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Profesional de Éxito</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer  bg-transparent border-0">
              <div class="d-flex  flex-row">
                <div class="w-100">
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                </div>
                <div class="text-primary justify-content-end" itemprop="offers" itemscope="">
                  <p>
                    $19.95</p>
                  <meta itemprop="priceCurrency" content="$">
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card border-0 h-100">
            <img src="assets/images/img_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Administración de tiempos</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer  bg-transparent border-0">
              <div class="d-flex  flex-row">
                <div class="w-100">
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                  <fa-icon class="mr-1 text-warning" [icon]="['far','star']"></fa-icon>
                </div>
                <div class="text-primary justify-content-end" itemprop="offers" itemscope="">
                  <p>
                    GRATIS</p>
                  <meta itemprop="priceCurrency" content="$">
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <button type="button" class="rounded-pill btn btn-outline-light mx-auto px-4 mt-5">VER MAS CURSOS</button>
      </div>
    </div>
  </div>
</section>

<section class="site-section py-5 bg-light" >
<div class="container">
  <div class="row mb-5">
    <div class="col-12 ">
      <h2 class="section-title mb-3 line-ideem">Nuestros Clientes</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 col-sm-12 my-auto">
      <img class="py-3 w-75" src="assets/images/AUTONICA.png" alt="">
    </div>
    <div class="col-md-4 col-sm-12">
      <img class="py-3"  src="assets/images/person_1.jpg" alt="">
    </div>
    <div class="col-md-4 col-sm-12">
      <img  class="py-3" src="assets/images/person_1.jpg" alt="">
    </div>
  </div>
</div>
</section>

<section class="site-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-7 col-sm-12">
        <h2 class="section-title mb-5 line-ideem">Noticias</h2>
        <div class="col-12 px-0">
          <div class="card border-0 mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/images/img_1.jpg" class="card-img rounded-0" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold m-0"><a class="text-decoration-none text-dark" href="#">Noticia
                      1</a></h5>
                  <p class="card-text"><small class="font-weight-semibold text-muted">By Admin / Enero 2020</small></p>
                  <p class="card-text text-secondary text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Blanditiis, maiores doloremque. Ipsum cumque inventore necessitatibus. Voluptate ullam quasi
                    debitis veniam fugiat maxime voluptatum ducimus ab! Voluptate sequi molestiae rem quisquam? This is
                    a wider card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/images/img_3.jpg" class="card-img rounded-0" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold m-0"><a class="text-decoration-none text-dark" href="#">Noticia
                      2</a></h5>
                  <p class="card-text"><small class="font-weight-semibold text-muted">By Admin / Enero 2020</small></p>
                  <p class="card-text text-secondary text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Blanditiis, maiores doloremque. Ipsum cumque inventore necessitatibus. Voluptate ullam quasi
                    debitis veniam fugiat maxime voluptatum ducimus ab! Voluptate sequi molestiae rem quisquam? This is
                    a wider card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-0 mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/images/img_2.jpg" class="card-img rounded-0" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold m-0"><a class="text-decoration-none text-dark" href="#">Noticia
                      3</a></h5>
                  <p class="card-text"><small class="font-weight-semibold text-muted">By Admin / Enero 2020</small></p>
                  <p class="card-text text-secondary text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Blanditiis, maiores doloremque. Ipsum cumque inventore necessitatibus. Voluptate ullam quasi
                    debitis veniam fugiat maxime voluptatum ducimus ab! Voluptate sequi molestiae rem quisquam? This is
                    a wider card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <button type="button" class="rounded-pill btn btn-outline-ideem mx-auto px-4 mt-5">VER MAS</button>
          </div>


        </div>
      </div>
      <div class="col-md-5 col-lg-5 col-sm-12 ">
        <h2 class="section-title mb-5 line-ideem">Agenda</h2>
        <div class="col-12 px-0">
          <div class="card card-agenda border-0">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto text-center font-weight-bol">
                <h4 class="my-0 py-0 text-primario border-right">05</h4>
                <h6 class="border-right text-primario">MARZO</h6>
              </div>
              <div class="col-md-10">
                <div class="card-body ml-2">
                  <h5 class="card-title">Presentacion magistral</h5>
                  <div class="d-flex">
                    <p class="card-text mr-2 my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','clock']"></fa-icon>
                        7:00AM - 9:00 AM
                      </small></p>
                    <p class="card-text my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','map-marker-alt']"></fa-icon>
                        Managua, Nicaragua
                      </small></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card card-agenda border-0">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto text-center font-weight-bol">
                <h4 class="my-0 py-0 text-primario border-right">05</h4>
                <h6 class="border-right text-primario">MARZO</h6>
              </div>
              <div class="col-md-10">
                <div class="card-body ml-2">
                  <h5 class="card-title">Presentacion magistral</h5>
                  <div class="d-flex">
                    <p class="card-text mr-2 my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','clock']"></fa-icon>
                        7:00AM - 9:00 AM
                      </small></p>
                    <p class="card-text my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','map-marker-alt']"></fa-icon>
                        Managua, Nicaragua
                      </small></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card card-agenda border-0">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto text-center font-weight-bol">
                <h4 class="my-0 py-0 text-primario border-right">05</h4>
                <h6 class="border-right text-primario">MARZO</h6>
              </div>
              <div class="col-md-10">
                <div class="card-body ml-2">
                  <h5 class="card-title">Presentacion magistral</h5>
                  <div class="d-flex">
                    <p class="card-text mr-2 my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','clock']"></fa-icon>
                        7:00AM - 9:00 AM
                      </small></p>
                    <p class="card-text my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','map-marker-alt']"></fa-icon>
                        Managua, Nicaragua
                      </small></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card card-agenda border-0">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto text-center font-weight-bol">
                <h4 class="my-0 py-0 text-primario border-right">05</h4>
                <h6 class="border-right text-primario">MARZO</h6>
              </div>
              <div class="col-md-10">
                <div class="card-body ml-2">
                  <h5 class="card-title">Presentacion magistral</h5>
                  <div class="d-flex">
                    <p class="card-text mr-2 my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','clock']"></fa-icon>
                        7:00AM - 9:00 AM
                      </small></p>
                    <p class="card-text my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','map-marker-alt']"></fa-icon>
                        Managua, Nicaragua
                      </small></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card card-agenda border-0">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto text-center font-weight-bol">
                <h4 class="my-0 py-0 text-primario border-right">05</h4>
                <h6 class="border-right text-primario">MARZO</h6>
              </div>
              <div class="col-md-10">
                <div class="card-body ml-2">
                  <h5 class="card-title">Presentacion magistral</h5>
                  <div class="d-flex">
                    <p class="card-text mr-2 my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','clock']"></fa-icon>
                        7:00AM - 9:00 AM
                      </small></p>
                    <p class="card-text my-0"><small class="text-muted">
                        <fa-icon class="mr-1" [icon]="['fas','map-marker-alt']"></fa-icon>
                        Managua, Nicaragua
                      </small></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="button" class="rounded-pill btn btn-outline-ideem mx-auto px-4 mt-5">VER MAS</button>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="site-section py-5 bg-dark">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 ">
        <h2 class="section-title mb-3 line-ideem text-white">Nuestros Estudiantes</h2>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
      </ol>
      <div class="carousel-inner py-5">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="row no-gutters mx-auto">
                <div class="col-md-4  text-center">
                  <img class="rounded-circle" src="assets/images/person_1.jpg" alt="">
                </div>
                <div class="col-md-8">
                  <h6 class="font-weight-bold m-0 my-2 text-white">
                    <fa-icon class="mr-1" [icon]="['fas','quote-left']"></fa-icon>
                    Fue una experiencia asombrosa
                  </h6>
                  <p class="text-secondary ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quae cumque minima accusantium tempore ullam ad eligendi eaque obcaecati, neque amet
                    temporibus esse fugit quam consequuntur consequatur ipsam hic.</p>
                  <p class=""><small class="font-weight-semibold text-muted">Nombre del estudiante | Ingeniero de
                      Sistemas</small></p>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">

              <div class="row no-gutters">
                <div class="col-md-4 text-center">
                  <img class="rounded-circle" src="assets/images/person_2.jpg" alt="">
                </div>
                <div class="col-md-8">
                  <h6 class="font-weight-bold m-0 my-2 text-white">
                    <fa-icon class="mr-1" [icon]="['fas','quote-left']"></fa-icon>
                    Lo mejor en educacion
                  </h6>
                  <p class="text-secondary ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quae cumque minima accusantium tempore ullam ad eligendi eaque obcaecati, neque amet
                    temporibus esse fugit quam </p>
                  <p class=""><small class="font-weight-semibold text-muted">Nombre del estudiante | Ingeniero de
                      Sistemas</small></p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="row no-gutters mx-auto">
                <div class="col-md-4  text-center">
                  <img class="rounded-circle" src="assets/images/person_1.jpg" alt="">
                </div>
                <div class="col-md-8">
                  <h6 class="font-weight-bold m-0 my-2 text-white">
                    <fa-icon class="mr-1" [icon]="['fas','quote-left']"></fa-icon>
                    Fue una experiencia asombrosa
                  </h6>
                  <p class="text-secondary ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quae cumque minima accusantium tempore ullam ad eligendi eaque obcaecati, neque amet
                    temporibus esse fugit quam consequuntur consequatur ipsam hic.</p>
                  <p class=""><small class="font-weight-semibold text-muted">Nombre del estudiante | Ingeniero de
                      Sistemas</small></p>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">

              <div class="row no-gutters">
                <div class="col-md-4 text-center">
                  <img class="rounded-circle " src="assets/images/person_2.jpg" alt="">
                </div>
                <div class="col-md-8">
                  <h6 class="font-weight-bold m-0 my-2 text-white">
                    <fa-icon class="mr-1" [icon]="['fas','quote-left']"></fa-icon>
                    Lo mejor en educacion
                  </h6>
                  <p class="text-secondary ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quae cumque minima accusantium tempore ullam ad eligendi eaque obcaecati, neque amet
                    temporibus esse fugit quam </p>
                  <p class=""><small class="font-weight-semibold text-muted">Nombre del estudiante | Ingeniero de
                      Sistemas</small></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- </div> -->
