.responsive-height{
  height: 100%!important;
}
video{
  object-fit: cover;
  width: 100%;

}



@media (max-width: 540px), (max-width: 720px), (max-width: 960px) {
  .responsive-height{
    height: 100vh!important;
  }
  video{

    height: 100%;
  }

.eslogan{
  position: absolute;


}
}
