<div class="outer-div">
  <img src="assets/images/cursos/workingteam.jpg" />
  <section class='section-img col pb-2 px-5 py-2 hero-header-text'>
    <div class="container">
      <h3 class="">Equipos de alto redimiento</h3>
      <h5 class="font-weight-light mb-0">Aprende las mejores tecnicas para llevar a tu equipo al maximo rendimiento y
        aumentar
        tus ventas</h5>
      <div class="d-flex">
        <p class="font-weight-light mb-0">Creado por: Kelly Valle</p>
        <!-- <p class="ml-3 font-weight-light mb-0">Fecha de la última actualización: 4/2019</p> -->

      </div>
    </div>
  </section>
</div>
<section class="bg-material-card" id="aprendizaje">
  <div class="container">

    <div class=" col-12 mt-4 col-sm-12 col-md-4 float-none float-md-right">
      <div class="card border-0 md-border h-100">
        <img src="assets/images/img_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-right font-weight-bold">$30.00</h3>
          <div class="text-center">
            <button type="button" class=" btn btn-primary rounded-0 btn-ideem mx-auto px-4">COMPRAR AHORA</button>
          </div>
          <div class="text-muted">
            <span class="black-text font-weight-bold"><br>Este curso incluye</span>

            <span class="row mx-2"><br>
                <fa-icon [icon]="['fas', 'clock']" class="grey-text"> </fa-icon> &nbsp;

                8 horas de Estudio
            </span>
            <span class="row mx-2"><br>
                <fa-icon [icon]="['fas', 'file-alt']" class="grey-text"> </fa-icon> &nbsp;
                Recursos Descargables
            </span>
            <span class="row mx-2"><br>
                <fa-icon [icon]="['fas', 'hand-point-right']" class="grey-text"></fa-icon>&nbsp;
                 Acceso de por vida
            </span>
            <span class="row mx-2"><br>
                <fa-icon [icon]="['fas','mobile-alt']" class="grey-text"></fa-icon>&nbsp;
                Acceso en móviles y TV
            </span>
            <span class=" row mx-2"><br>
                <fa-icon [icon]="['fas', 'certificate']" class="grey-text"></fa-icon>&nbsp;
                Certificado
                <br>
            </span>
          </div>

        </div>

      </div>

  </div>

      <div class="pt-4 pb-4 col-12 col-sm-12 col-md-8 ">
        <div class="card border-0 md-border h-100">
          <div class="card-body">
            <h5 class="card-title">Descripción general</h5>
            <div class="card-text text-muted">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum reiciendis expedita voluptatem, vitae
                velit
                quibusdam sequi minus dolores laborum, ab ipsam, assumenda dignissimos placeat asperiores beatae enim
                nesciunt
                repellendus vel!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit vel dolore minus ducimus soluta cum
                sequi
                esse laborum animi vero fugiat temporibus eveniet sapiente, dicta et. Dolorem temporibus minima quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius enim sed necessitatibus incidunt est
                accusantium
                atque quo rerum sit? Voluptas, expedita fuga distinctio et quis suscipit exercitationem modi accusantium
                sit.

              </p>
            </div>

          </div>

        </div>
        <div class="card mt-4 px-2   border-0 md-border h-100">
          <div class="card-body">
            <h5 class="card-title">Objetivos del programa</h5>
            <div class="card-text text-muted">
              <ol class="d-flex flex-wrap">
                <li class="col-12 col-md-6 my-2">
                  <a class="text-decorate-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                    blanditiis
                    atque id, accusamus modi omnis ducimus earum distinctio quaerat, ab fugiat at reprehenderit alias,
                    pariatur sunt harum nostrum ipsum! Soluta.</a>
                </li>
                <li class="col-12 col-md-6 my-2">
                  <a class="text-decorate-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                    blanditiis
                    atque id, accusamus modi omnis ducimus earum distinctio quaerat, ab fugiat at reprehenderit alias,
                    pariatur sunt harum nostrum ipsum! Soluta.</a>
                </li>
                <li class="col-12 col-md-6 my-2">
                  <a class="text-decorate-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                    blanditiis
                    atque id, accusamus modi omnis ducimus earum distinctio quaerat, ab fugiat at reprehenderit alias,
                    pariatur sunt harum nostrum ipsum! Soluta.</a>
                </li>
                <li class="col-12 col-md-6 my-2">
                  <a class="text-decorate-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                    blanditiis
                    atque id, accusamus modi omnis ducimus earum distinctio quaerat, ab fugiat at reprehenderit alias,
                    pariatur sunt harum nostrum ipsum! Soluta.</a>
                </li>
                <li class="col-12 col-md-6 my-2">
                  <a class="text-decorate-none">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                    blanditiis
                    atque id, accusamus modi omnis ducimus earum distinctio quaerat, ab fugiat at reprehenderit alias,
                    pariatur sunt harum nostrum ipsum! Soluta.</a>
                </li>



              </ol>
            </div>

          </div>

        </div>

      </div>

  </div>
</section>
