<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <h6 class="text-white line-ideem text-uppercase my-4">Contáctenos</h6>
            <div class="thim-footer-info">
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fas','phone']"></fa-icon><a
                  class="text-decoration-none footer-color-text" href="tel:50522222222">+505 2222 2222 </a>
              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fas','envelope']"></fa-icon><a
                  class="text-decoration-none footer-color-text" href="mailto:hola@ideem.com">hola@ideem.com</a>
              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fas','map-marker-alt']"></fa-icon><a
                  class="text-decoration-none footer-color-text" href="#">avenida 24 calle 4, residencial, Los Angeles,
                  Managua, Nicaragua.</a>
              </p>
            </div>

          </div>
          <div class="col-md-4 ml-auto">
            <h6 class="text-white line-ideem text-uppercase my-4">Enlaces de Interés</h6>
            <div class="row">
              <div class="col">
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Quienes somos</a></p>
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Organización</a></p>
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Oferta</a></p>
              </div>
              <div class="col">
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Co-Working</a></p>
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Noticias</a></p>
                <p class="footer-text"><a class="text-decoration-none footer-color-text" href="#">Contáctenos</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <h6 class="text-white line-ideem text-uppercase my-4">Nuestras Redes</h6>
            <div class="">
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fab','facebook-f']"></fa-icon>
                <a href="https://www.facebook.com/" target="_blank" class="text-decoration-none footer-color-text">
                  Facebook</a>

              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fab','twitter']"></fa-icon>
                <a href="https://twitter.com/" target="_blank" class="text-decoration-none footer-color-text">
                  Twitter</a>

              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fab','linkedin-in']"></fa-icon>
                <a href="https://www.linkedin.com/" target="_blank" class="text-decoration-none footer-color-text">
                  LinkedIn</a>

              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fab','instagram']"></fa-icon>
                <a href="https://www.instagram.com/" target="_blank" class="text-decoration-none footer-color-text">
                  Instagram</a>

              </p>
              <p class="footer-text">
                <fa-icon class="mr-2" [icon]="['fab','youtube']"></fa-icon>
                <a href="https://www.youtube.com/" target="_blank" class="text-decoration-none footer-color-text">
                  Youtube</a>

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h6 class="text-white line-ideem text-uppercase my-4">Suscríbete</h6>
          <form action="#" method="post" class="footer-subscribe">
          <div class="input-group mb-3">
           <p class="footer-text col-sm-12 px-0 ">Suscribete a nuestro boletin de noticias completamente Gratis!</p>
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Correo Electrónico"
              aria-label="Correo Electrónico" aria-describedby="button-addon2">
            <div class="input-group-append ">
              <button class="btn border-secondary text-muted bg-transparent" type="button" id="button-send">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="pt-5 mt-5 text-center">
    <div class="col-md-12">
      <hr class="my-0" id="footer-separator">
      <div class="">
        <p class="footer-text my-0 py-4">
          Copyright &copy;{{anio}} Todos los Derechos Reservados | IDEEMSA</p>
      </div>
    </div>
  </div>
</footer>
